#container article p:first-of-type::first-letter {
  font-family: "Times New Roman", serif;
  font-size: 36px;
  color: gray;
}

#container article {
    transition: all 2s;
    color: lightgray;    
}

#container article:hover {
    color:black;
    transform: scale(1.1, 1.1);
}
 
#container a::after{
    content:url("arrow.png");
}

h1{
    margin-top: 10rem;
    margin-left: max(15%, 180px); 
    margin-right: auto;
    font-family: "Times New Roman", serif;
    font-size: 48px;
    text-align: center;
    width: calc(100% - max(15%, 180px));
}

#menuItems {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  min-width: 180px;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

#menuItems button {
  background-color: blue;
  color: white;
  font-size: large;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  box-shadow: 0 2px 5px gray;
  cursor: pointer;
  border-radius: 4px;
}

#menuItems button:hover{
  background-color: gold;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: max(15%, 180px);
  width: calc(100% - max(15%, 180px));
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem;
  z-index: 100;
  border: solid 2px black;
}

header p {
  font-family: "Times New Roman", serif;
  font-size: 36px;
}

#jumpMenu {
  display: none;
  text-align: center;
  background-color: gold;
  color: black;
  padding: 20px;
}

#menuItems:hover #jumpMenu {
  display: block;
}

#jumpMenu a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

#jumpMenu a:hover {
    background-color: blue;
    color: white;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 120px;
  padding: 1rem;
  margin-top: 30px;   
  margin-left: max(15%, 180px);  
}

article {
  background-color: white;
  padding: .5rem;
  text-align: center;
  border-radius: 6px;
  word-wrap: break-word; 
}

article h2 {
  text-align: center;
}

#thanks {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-weight: bold;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px black;
}

footer{
    margin-left: max(15%, 180px); 
}