body {
  margin: 0;
  font-family: sans-serif;
}

#jumpMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  min-width: 180px;
  height: 100vh;
  background-color: navy;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

#jumpMenu a {
  color: white;
  padding-top: 1rem;
}

main {
  margin-left: max(15%, 180px);
  padding: 1rem;
}

header {
  position: fixed;
  top: 0;

  left: max(15%, 180px);
  width: calc(100% - max(15%, 180px));

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: clamp(0.5rem, 1vw, 1rem);
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


header p {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  margin: 0;
}

header nav {
  display: flex;
  justify-content: space-between; 
  gap: clamp(1rem, 4vw, 5rem);

  background-color: lightgray;
  padding: clamp(0.5rem, 1vw, 0.75rem)
           clamp(1rem, 3vw, 2.5rem);

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header nav button {
  background-color: navy;
  color: white;

  font-size: clamp(0.85rem, 1.2vw, 1.1rem);
  padding: clamp(0.4rem, 0.8vw, 0.6rem)
           clamp(1.2rem, 3vw, 5rem);

  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 120px;
  padding: 1rem; 
}

article {
  background-color: white;
  padding: .5rem;
  text-align: center;
  border-radius: 6px;
  word-wrap: break-word; 
}

article h2 {
  text-align: center;
}

article a {
  color: navy;
}

#thanks {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-weight: bold;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#thanks {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-weight: bold;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer a {
  color: navy;
}

@media (max-width: 320px) {
  #container {
    grid-template-columns: 1fr;
  }

  header nav button {
    padding: 0.5rem 1rem;
    font-size: medium;
  }
}