body {
  margin: 0;
  font-family: sans-serif;
}

#jumpMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  min-width: 180px;
  height: 100vh;
  background-color: gold;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 101;
}

#jumpMenu a {
  padding-top: 1rem;
}

main {
  margin-left: max(15%, 180px);
  padding: 1 rem;
}

main h1 {
  margin-top: 220px;
  text-align: center;
  font-size: 36px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem;
  z-index: 100;
}

header p {
  font-family: "Times New Roman", serif;
  font-size: 36px;
  margin-left: max(15%, 180px);
}

header nav {
  display: flex;
  gap: 12rem;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px black;
  border: solid 2px black;
  width: 100%;
  box-sizing: border-box;
  padding-left: calc(max(15%, 180px) + 1rem);
  padding-right: 1rem;
}

header nav button {
  background-color: blue;
  color: white;
  font-size: 24px;
  padding: 1rem;
  min-width: 100px;
  border: solid 2px gray;
  cursor: pointer;
  border-radius: 4px;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 30px;
  padding: 1rem;
}

article {
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 6px;
  word-wrap: break-word;
}

article h2 {
  text-align: center;
}

#thanks {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-weight: bold;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px black;
}

footer a {
  color: navy;
}

@media (max-width: 320px) {
  #container {
    grid-template-columns: 1fr;
  }

  header nav button {
    padding: 0.5rem 1rem;
    font-size: medium;
  }
}
