body {
    margin: 0;
    padding: 0;
    background-color: white; 
    font-family: 'Press Start 2P', cursive;
    color:white;
}

.container {
    width: 600px;
    margin: 50px auto;
    padding: 40px 20px;
    background-color: red;
    border: 6px solid lightgray; 
    border-radius: 40px;
    text-align: center;
}


.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section button{
    font-family: 'Press Start 2P', cursive;
}

.search-section label {
    margin-bottom: 6px; 
}

.search-row {
    display: flex;
    align-items: center;
    gap: 6px; 
}

.image-section {
    margin: 20px 0;
}

.image-section img {
    width: 120px;
    height: auto;
}

.audio-section {
    margin: 20px 0;
}

.dropdown-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.left-dropdowns,
.right-dropdowns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Press Start 2P', cursive;

}

select {
    width: 180px;
    padding: 5px;
}

.button-section button {
    padding: 6px 15px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;

}
