/*Your CSS must use Responsive CSS; in other words, it must use an appropriate layout for Mobile Devices, and it must use an appropriate (and different) layout for a desktop/laptop.
Your responsive design will be checked against the following criteria:
Mobile Device: width: 412px
Desktop/Laptop: width: 1920px*/
header {
  text-align: center;
  padding: 10px;
}

p:hover,ul:hover {
  background-color: lightgray;
}

.btn-row {
    display: flex;
    justify-content: center;   /* centers buttons */
    width: 100%;               /* MUST be full width */
    margin: 0 auto;            /* safety */
}

.btn {
    width: 200px;
    padding: 12px 20px;
    margin: 0 10px;
    text-align: center;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}


.btn:hover {
  background-color: navy;
}
